body {
  margin:0;
  background-color: #F0F8FF;
  font-family: 'Karla', 'Noto Sans KR', sans-serif;
}


.half {
        position: absolute;
            width: 50%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 20px;
}
 .right {
            left: 50%;
        }



.container {
  padding: 40px 30px;
  max-width: 700px;
  text-align: left;
}



.container2 {
  padding: 40px 30px;
  max-width: 1000px;
  text-align: left;
  left: 50%;
}

h1 {
  font-size: 20px;
  font-family: 'Karla','Noto Sans KR', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  
}

p {
  font-size: 14px;
  max-width: 500px;
  line-height: 1.4;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;

}

p2 {
  font-size: 13px;
  max-width: 300px;
  line-height: 1.6;
  font-family: 'Karla', sans-serif;
  font-weight: 310;
  letter-spacing: -0.01em;

}



.email-link {
  margin-top: 2rem;
  font-size: 10px;
  color: #555;
  cursor: pointer;
}

.link {
  margin-top: 2rem;
  font-size: 10px;
  color: #555;
  cursor: pointer;
